@import '~quill/dist/quill.core';
@import '~quill/dist/quill.snow.css';

.editor {
  width: 100%;
  flex: 1;
  color: black;
}

.editor-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
}

.i-frame {
  width: 100%;
  height: 56.25%;
}
