<div fxLayout="column" class="container">
  <mat-toolbar color="primary">
    Conent: {{type?.name}}
    <span fxFlex></span>
    <button mat-button class="icon" (click)="onSaveContent()" fxLayout="column" fxLayoutAlign="center end">
      <mat-icon>save</mat-icon>
      Save {{type?.name}}
    </button>
    <button mat-button class="icon" (click)="onReleaseContent()" fxLayout="column" fxLayoutAlign="center end">
      <mat-icon>check</mat-icon>
      Release {{type?.name}}
    </button>
  </mat-toolbar>
  <mat-tab-group fxFlex>
    <mat-tab *ngFor="let group of groups" [label]="group.name" fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
      <div class="tab-content">
        <div style="height: 100%; max-height: 100%;" *ngIf=" group.fullPage && group.fields[0]?.type==='BIG_TEXT' " fxFlex fxLayout="column">
          <editor [projectId]="projectId " [fullDelta]="content[group.fields[0]?.name] " (fullDeltaChange)="onEditorDeltaChanged(group.fields[0]?.name,
        $event) "></editor>
        </div>
        <div *ngFor="let field of group.fields ">
          <mat-form-field *ngIf="field.type=='STRING' ">
            <input matInput [placeholder]="field.name " [(ngModel)]="content[field.name] ">
          </mat-form-field>
          <div class="form-cont " *ngIf="field.type=='ASSET' ">
            <h4>{{field.name}}</h4>
            <app-assetPicker [(source)]="content[field.name] " [projectId]="projectId "></app-assetPicker>
          </div>
          <mat-form-field *ngIf="field.type=='DATE' ">
            <input matInput [(ngModel)]="content[field.name] " [matDatepicker]="picker " [placeholder]="field.name ">
            <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>