:host {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container {
  height: 100%;
}

.mat-tab-body-wrapper {
  flex: 1;
}

.mat-tab-body-wrapper > * {
  display: flex;
  flex-flow: column nowrap;
}

.tab-content {
  padding: 16px;
  flex: 1;
  flex-flow: column nowrap;
  height: 100%;
}

.form-cont {
  margin-top: 8px;
  margin-bottom: 16px;
}

editor {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  display: flex;
}
