@import '~@angular/material/theming';

:host {
  display: flex;
  flex: 1;
}

mat-sidenav {
  width: 300px;
}

.site-title {
  font-size: 20px;
  line-height: 64px;
  color: white;
  margin-left: 16px;
}
