<mat-toolbar color="primary">
  Conent: {{data?.type?.name}}


  <span fxFlex></span>
  <button mat-button class="icon" (click)="onAddContent()" fxLayout="column" fxLayoutAlign="center end">
    <mat-icon>add_circle_outline</mat-icon>
    Add {{type?.name}}
  </button>
</mat-toolbar>

<mat-table #table matSort [dataSource]="dataSource">

  <ng-container *ngFor="let field of data?.type?.fields | values" matColumnDef="{{field.name}}">


    <ng-container *ngIf="field.type == 'DATE'">
      <mat-header-cell *matHeaderCellDef> {{field.name}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[field.name] | date}} </mat-cell>
    </ng-container>
    <ng-container *ngIf="field.type == 'ASSET'">
      <mat-header-cell *matHeaderCellDef> {{field.name}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img style="width:100px" *ngIf="element[field.name]" [src]="assetUrl +'/'+ data.projectId + '/asset/' + element[field.name] +'/webp/200'">
      </mat-cell>
    </ng-container>
    <ng-container *ngIf="field.type == 'STRING'">
      <mat-header-cell *matHeaderCellDef> {{field.name}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[field.name] | shortener: 100}} </mat-cell>
    </ng-container>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['../../detail/'+data.type.name+'/'+row.id]"></mat-row>
</mat-table>