.image {
  width: 100%;
}

.container {
  position: absolute;
  height: 100%;
}

.card {
  margin: 8px;
  padding: 0;
  padding-bottom: 56.25%;
}

.delete-button {
  position: absolute;
  right: 0;
  z-index: 10000;
}
