<div fxLayout="column" class="container">
  <mat-toolbar color="primary">
    Conent: {{type?.name}}
    <span fxFlex></span>
    <button mat-button class="icon" (click)="onAddContent()" fxLayout="column" fxLayoutAlign="center end">
      <mat-icon>save</mat-icon>
      Save {{type?.name}}
    </button>
    <button mat-button class="icon" (click)="onAddContent()" fxLayout="column" fxLayoutAlign="center end">
      <mat-icon>check</mat-icon>
      Release {{type?.name}}
    </button>
  </mat-toolbar>
  <mat-tab-group fxFlex>
    <mat-tab *ngFor="let group of groups" [label]="group.name" fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
      <editor *ngIf="group.fullPage && group.fields[0]?.type === 'BIG_TEXT'"></editor>

    </mat-tab>
  </mat-tab-group>
</div>