.content {
  padding: 16px;
}

mat-card {
  margin-bottom: 16px;
}

.list-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.title {
  font-size: 28px;
}

.small-list-icon {
  margin-left: 16px;
  cursor: pointer;
}
