<div fxFlex fxLayout="column">
  <mat-toolbar color="primary">
    Type: {{type?.name}}
    <span fxFlex></span>
    <mat-icon class="icon" matTooltip="Add a new Field!" (click)="onAddField()">add</mat-icon>
  </mat-toolbar>

  <div class="content">

    <mat-card *ngFor="let field of type?.fields; trackBy: trackbyName" [routerLink]="['/secure/type/' + type.name]">

      <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon color="primary" class="list-icon">fullscreen</mat-icon>
        <span class="title">{{field.name}}</span>

        <span fxFlex></span>

        <mat-icon class="small-list-icon" (click)="onEditField(field)">edit</mat-icon>
        <mat-icon class="small-list-icon">delete</mat-icon>
      </mat-card-content>
    </mat-card>

  </div>
</div>